<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Mongo NASA Scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/saved">Saved Articles</a>
            </li>
            <li class="nav-item">
                <button id="scrape-btn" class="btn btn-info">Retrieve New Articles</button>
            </li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center">
    <div class="background-image">
        <div class="row align-items-center">
            <div class="col">
                <h1 class="display-4">Mongo Scraper</h1>
                <hr class="my-4">
                <p class="lead">Space Edition 🚀</p>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container-fluid article-container">
    {{#each headlines}}
    <div class="row card border-info text-white bg-dark mb-4">
        <div class="card-header">
            <a class="article-link float-left" href="{{this.url}}">
                <h2>{{this.title}}</h2>
            </a>
            <button id="save-btn" class="save-btn btn btn-outline-success float-right" data-id='{{this._id}}'>Save Article</button>
        </div>
        <div class="card-body">
            {{this.summary}}
        </div>
    </div>
    {{/each}}
</div>

<script src="../assets/js/home.js"></script>